# This is a basic workflow to help you get started with Actions

name: build

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches:
    - main
    - go_attempt
  pull_request:
    branches:
    - main
    - go_attempt
env:
  GO_VERSION_TO_USE: '^1.22.0'  # The Go version to download (if necessary) and use.
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # The "build" workflow
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v4
    
    # Setup Go
    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ env.GO_VERSION_TO_USE }}
    
    # Install all the dependencies
    - name: Install dependencies
      run: |
        go version
        
    # Run vet & lint on the code
    - name: Run vet
      run: |
        go vet .
    # Run build of the application
    - name: Run build
      run: go build . 
  # Run testing on the code
  test:
    # This job will run after the build job completes
      needs: build
      runs-on: ubuntu-latest
      steps:
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version:  ${{ env.GO_VERSION_TO_USE }}
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Test
        run: go test ./...
      - name: Run testing
        run: go test -v
